_meta:
  editable_keys:
  - description: 'List of seed inputs (meant to be used for initial seeding only).'
    path: fuzzer.seed_inputs
    type: list
  - description: 'List of seed injects (meant to be used for coverage plateau flow only).'
    path: fuzzer.seed_injects
    type: list
  - description: 'List of execution state definitions. Each state can include:

      - name: semantic name of the state

      - type: type of the state, one of: int, float, bool, string

      - notes: human-readable explanation

      '
    path: fuzzer.execution_values
    type: list
  - description: |
      List of execution state definitions, they are either values, predicates, or sum.

      Each definition takes up a value in the execution state tuple.

      - type: predicate # boolean expression using <execution_value_name> and real
      values, operators: ==, !=, <, >, <=, >=, &&, ||

      - expr: # boolean expression using <execution_value_name> and real values, operators:
      ==, !=, <, >, <=, >=, &&, ||


      - type: value # last value of the given execution value name

      - name: <execution_value_name>


      - type: sum # sum of all values seen for the given execution value name

      - name: <execution_value_name>


      - type: counter # count of how many times the boolean expression is true

      - expr: # boolean expression using <execution_value_name> and real values, operators:
      ==, !=, <, >, <=, >=, &&, ||


      - type: set # set of all values seen for the given execution value name

      - name: <execution_value_name>
    path: fuzzer.execution_state
    type: list
corpus_stat_tracker:
  coverage_plateau_timeout_seconds: 100
  snapshot_interval_seconds: 10
coverage_plateau_flow:
  base_dir: cov_plat_data
  endpoint: http://localhost:8000/run_coverage_plateau_flow
  fuzzer_docker_id: e2aa20b9451433bcd25868f7d0bf9b11072c665a22e8aef3fbc3e1bff23aa4c1
  results_dir: results/CROMU_00005_20251111_182915/cov_plat_0
  source_docker_id: 618a48a28216862b93e6780e59a29dda77ab04d3be9d104cb75e75d8322e39d5
  thread_id: CROMU_00005_20251111_182916::deep_agent
fuzzer:
  execution_limit: 0
  execution_state:
  - name: command
    type: value
  - name: player_char
    type: value
  - name: move_success
    type: value
  - name: total_moves
    type: value
  - name: game_over
    type: value
  - name: player_won
    type: value
  - name: player_score
    type: value
  - name: start_over
    type: value
  execution_values:
  - name: command
    notes: 1=PLAY, 2=PLAY AGAIN, 3=START OVER, 4=QUIT, 0=invalid
    type: int
  - name: player_char
    notes: 1=P (goes first), 2=Q
    type: int
  - name: player_move_row
    notes: Row coordinate of player move (0-2)
    type: int
  - name: player_move_col
    notes: Column coordinate of player move (0-2)
    type: int
  - name: move_success
    notes: 1 if move was valid, 0 if invalid
    type: bool
  - name: total_moves
    notes: Total moves in current game
    type: int
  - name: game_over
    notes: 1 when game ends
    type: bool
  - name: player_won
    notes: 1 if player won, 0 if computer won
    type: bool
  - name: player_score
    notes: Player win count
    type: int
  - name: computer_score
    notes: Computer win count
    type: int
  - name: start_over
    notes: 1 when START OVER command used (triggers vulnerability)
    type: bool
  function_profile:
    sample_every: 100
    target_only: true
    top_n: 10
  mutations:
    num_mutations: 10
    operators_file: operators.py
    strategy_file: mutation_strategy.json
  per_run_timeout: 5
  seed_injects: []
  seed_inputs:
  - PLAY\x07P\x070 0\x071 1\x072 2\x07QUIT\x07
  - PLAY\x07Q\x070 0\x071 1\x072 0\x07QUIT\x07
  stdout: true
  time_limit: 300
input:
  method: stdin
output:
  dir: out
target:
  binary_path: /home/andrewyin/qiling_tests/ExecStateFuzzer/cgc-cbs/cqe-challenges/NRFIN_00005/NRFIN_00005
  cgc_binary: NRFIN_00005
  rootfs: rootfs/x8664_linux_glibc2.39
